@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(
  https://fonts.googleapis.com/css?family=Droid+Serif:400,
  700,
  400italic
);
@import url(
  https://fonts.googleapis.com/css?family=Merriweather:400,
  700,
  400italic
);
@import url(https://fonts.googleapis.com/css?family=Lora:400, 700, 400italic);
@import url(
  https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,
  700,
  400italic
);

body {
  font-family: "Lora";
}

h1,
h2,
h3 {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
}

.remark-slide-content h1 {
  font-size: 3em;
}
.remark-slide-content h2 {
  font-size: 2em;
}
.remark-slide-content h3 {
  font-size: 1.6em;
}

.remark-code,
.remark-inline-code {
  font-family: "Ubuntu Mono";
}
.remark-code-line-highlighted {
  background-color: #373832;
}

.right {
  float: right;
}

blockquote {
  border-left: 4pt solid gray;
  font-style: italic;
  padding-left: 1em;
  margin-bottom: 1em;
}
